@model ShopViewModel

@{
    ViewData["Title"] = "Магазин";
}

@if(Model?.Categories?.Count() > 0)
{
    foreach (var item in Model.Categories)
    {
        @if (item.Products?.Count() > 0)
        {
            <section class="container front-offers">
                <div class="row">
                    <div class="col-xs-12">
                        <h2 class="product-upsale__header">@item.Name</h2>
                    </div>
                </div>
                <div class="cards-list">
                    @foreach(var product in item.Products)
                    {
                        <div class="card-slot">
                            <div class="card-item">
                                <a href="/product/@product.Tag" class="card-item__top"
                                    style="background-image: url(@(product.Images?.Count() > 1 ? product.Images?.ElementAt(1).Uri : product.Images?.ElementAt(0).Uri))">
                                    <img src="@product.Images?.ElementAt(0).Uri" alt="@product.Name">
                                </a>
                                <div class="card-item__title">
                                    <div class="card-item__sku">@product.Id</div>
                                    @product.Name
                                </div>
                                <div class="card-item__bottom">
                                    <div class="card-item__price">@product.Price<span>грн</span></div>
                                    <button id="@product.Id" class="card-item__detail add_to_cart" 
                                            onclick="handleClick(event, @product.Id, '@product.Name', @product.Price, '@product.Images?.ElementAt(0).Uri')">
                                        в кошик
                                    </button>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </section>
        }
    }
}
else
{
    <section class="container front-offers">
        <div class="row">
            <div class="col-xs-12">
                <h2 class="product-upsale__header">Жодного товару немає в наявності</h2>
            </div>
        </div>
    </section>
}

<div class="row">
    <div class="col-xs-12">
        <div class="extra-description">
            <div class="extra-description tinymce-style">
                <p>Кожен чоловік має можливість зручно вибрати та замовити свіжі квіти для коханої жінки з
                    максимальним комфортом. Інтернет магазин Lileya пропонує замовити квіти додому із великого
                    асортименту. Наш флорист допоможе вам визначитися з вибором або складе композицію за вашим
                    оригінальним задумом. Ми маємо великий асортимент рослин, який задовольнить всі потреби
                    клієнта.</p>
                <p>&nbsp;</p>
                <h2><span>Купити букет у Києві</span></h2>
                <p><span>Широкий асортимент красивих та незвичайних кольорів ви можете знайти у нашій студії. До уваги покупців у Києві наш квітковий магазин готовий надати широкий вибір кольорів:</span>
                </p>
                <ul>
                    <li><span>троянди;</span></li>
                    <li><span>тюльпани;</span></li>
                    <li><span>гербери;</span></li>
                    <li><span>орхідеї;</span></li>
                    <li><span>лілії;</span></li>
                    <li><span>фрезії;</span></li>
                    <li><span>хризантеми;</span></li>
                    <li><span>альстромерії;</span></li>
                    <li><span>гвоздики;</span></li>
                    <li><span>гортензії;</span></li>
                    <li><span>іриси;</span></li>
                    <li><span>інші.</span></li>
                </ul>
                <p><span>Ми пропонуємо замовити букети у Києві за доступною ціною. До нас можна звертатись за покупкою в роздріб, а також замовити квіти у великій кількості зі знижкою для різноманітних святкових заходів. До нас може звернутися людина з індивідуальним проханням щодо складання оригінального букета, яке ми задовольнимо з урахуванням усіх побажань замовника.</span>
                </p>
                <p><span>Покупця можуть зацікавити невеликі композиції та великі букети на 50 і більше кольорів. На ювілей або особливу подію ми надамо преміум букет, в якому кожна деталь декору точно і лаконічно доповнюватиме іншу, а свіжозрізані квіти відповідатимуть індивідуальним побажанням та особливостям урочистостей.</span>
                </p>
                <p><span>&nbsp;</span></p>
                <h2><span>Доставка букетів</span></h2>
                <p><span>Якщо вам потрібно оформити букет з доставкою, у Києві Лілея пропонує широкі можливості. Однак не всі компанії діють оперативно та забезпечують адресну доставку. У випадку нашої компанії ви можете розраховувати на оперативний та якісний сервіс. Наша служба доставки працює в інтенсивному режимі, і здатна в потрібний час забезпечити вам доставку додому або в офіс.</span>
                </p>
                <p><span>Після того, як майстер збере букет, наш кур'єр доставить квіти у вказаний час. Ви можете скористатися правом замовити букет анонімно, який ми безпосередньо вручимо адресату. Таким чином, ви можете зробити сюрприз та приємний подарунок для близької вам людини, не витрачаючи на це свій час та зусилля. Цей варіант підходить для зайнятих та ділових людей, а також для тих, хто любить влаштовувати несподівані сюрпризи.</span>
                </p>
                <p><span>Ми гарантуємо:</span></p>
                <ul>
                    <li><span>оперативну доставку за вказаною адресою;</span></li>
                    <li><span>доступну вартість кур'єрських послуг;</span></li>
                    <li><span>доставку свіжих кольорів;</span></li>
                    <li><span>доставку букета на зручний для вас час.</span></li>
                </ul>
                <p><span>Якщо вам потрібна доставка подарунка в Києві, студія ЛораШен дозволить вам зробити це з широким розмахом. Все що вам потрібно, це звернутися до нашого флористичного салону за професійною допомогою. Ми готові направити співробітника з доставкою замовлення в будь-який район міста та його околиці.</span>
                </p>
                <p><span>&nbsp;</span></p>
                <h3><span>Замовлення сезонних кольорів та колекцій</span></h3>
                <p><span>Кожен сезон відрізняється своїм набором квітів. Які б квіти не були характерні для того чи іншого сезону, всі їх ви можете знайти в нашому інтернет-магазині. Навіть коли настає осінь чи зима, у нас ви можете придбати квіти, які будуть представлені широким вибором. Взимку у нас також продається великий асортимент квітів, які до нас доставляють із південних країн. Це завжди свіжі та насичені відтінками рослини, якими ви здивуєте будь-яку людину.</span>
                </p>
                <p>
                    <span>З настанням весни, у нас завжди продаються першоцвіти. У літній період ми надамо вам:</span>
                </p>
                <ul>
                    <li><span>півонії;</span></li>
                    <li><span>айстри;</span></li>
                    <li><span>тюльпани;</span></li>
                    <li><span>маки;</span></li>
                    <li><span>гортензії;</span></li>
                    <li><span>ромашки.</span></li>
                </ul>
                <p><span>Нам під силу запропонувати вам екзотичні квіти, які у нас продаються завжди незалежно від пори року.</span>
                </p>
                <p><span>&nbsp;</span></p>
                <h3><span>Квіти на свято</span></h3>
                <p><span>На нашому сайті ми пропонуємо підібрати квіти на ваш смак і фінансові можливості. У каталозі представлені як недорогі букети квітів, так і люкс композиції, які мають свої особливості:</span>
                </p>
                <ul>
                    <li><span>багатий декор;</span></li>
                    <li><span>вишукана упаковка;</span></li>
                    <li><span>ретельно підібрані квіти за формою та кольоровою гаммою;</span></li>
                    <li><span>наявність екзотичних рослин.</span></li>
                </ul>
                <p><span>У нас працюють досвідчені та кваліфіковані флористи, котрі знають, які букети найкраще підходять на те чи інше свято. Вони готові надати вам оптимальну композицію на:</span>
                </p>
                <ul>
                    <li><span>День народження;</span></li>
                    <li><span>8 березня;</span></li>
                    <li><span>день Святого Валентина;</span></li>
                    <li><span>ювілей;</span></li>
                    <li><span>для чоловіка;</span></li>
                    <li><span>для колеги по роботі чи начальника;</span></li>
                    <li><span>день учителя;</span></li>
                    <li><span>інші свята.</span></li>
                </ul>
                <p><span>Наші флористи здатні вгадати ваш настрій та підготувати букет відповідно до ваших побажань. Вибрати самостійно гарні композиції на будь-яке свято завжди можна у нашому каталозі.<br>&nbsp;<br></span>
                </p>
                <h2><span>Великий вибір квітів та авторських букетів</span></h2>
                <p><span>У нашому магазині представлений великий вибір кольорів різних сортів. На кожен вид рослин у нас припадає велика кількість різновидів, які відрізняються між собою за формою, кольором, довжиною ніжки та іншими параметрами.</span>
                </p>
                <p><span>Ми пропонуємо великий вибір авторських букетів. Якщо ви хочете купити красивий букет квітів, який не буде схожий на решту, тоді ми надамо вам цю можливість. У нас працюють креативні співробітники, які добре знаються на всіх тонкощах флористики. Спеціально для вас вони створять авторську композицію, яка буде заповнена:</span>
                </p>
                <ul>
                    <li><span>змішаним ароматом;</span></li>
                    <li><span>привабливим декором;</span></li>
                    <li><span>комбінацією відтінків, що поєднуються між собою;</span></li>
                    <li><span>неординарними формами та лініями;</span></li>
                    <li><span>яскравими емоціями.</span></li>
                </ul>
                <p>
                    <span>Кожен букет продумується до дрібниць і включає незвичайні декоративні прикраси.<br>&nbsp;<br></span>
                </p>
                <h3><span>Шикарні дизайнерські букети квітів</span></h3>
                <p><span>Якщо ви хочете замовити дорогий подарунок з особливо важливого приводу, тоді ми запропонуємо дизайнерський букет, який поєднуватиме кілька різних рослин. Вони будуть гарно поєднуватись між собою, зібрані в єдину композицію з красивими та привабливими формами.</span>
                </p>
                <p><span>Дизайнерські букети прийнято дарувати на весілля або іншу важливу урочистість. Букет на весілля від нашої компанії буде складений за всіма правилами та канонами флористичної справи. Ми відповідально підходимо до цього завдання, оскільки впевнені, що у день свого весілля кожна наречена має бути бездоганною у всьому. У нас можна замовити невеликий букет, який можна легко тримати в одній руці. Він буде повністю підходити до сукні нареченої і відповідати стилю, в якому буде оформлене весілля.</span>
                </p>
                <p><span>&nbsp;</span></p>
                <h2><span>Оформлення на свята та подарунки ручної роботи</span></h2>
                <p><span>Урочисто прикрасити банкетну залу – це завдання для наших спеціалістів. Ми пропонуємо комплексне рішення щодо оформлення приміщення на:</span>
                </p>
                <ul>
                    <li><span>весілля;</span></li>
                    <li><span>день народження;</span></li>
                    <li><span>корпоратив;</span></li>
                    <li><span>річницю;</span></li>
                    <li><span>дитяче свято;</span></li>
                    <li><span>офіційний захід.</span></li>
                </ul>
                <p><span>Ми готові оригінально прикрасити приміщення та подарувати гостям справжні емоції. При оформленні приміщень можна замовити прикрасу святкового столу або центрального входу в будівлю. Співробітники створять гарну фотозону, яка буде наповнена живими квітами. Запропонований нами декор для свята дозволить у яскравих фарбах прикрасити приміщення у певному стилі та найкраще підготувати його для проведення того чи іншого заходу.</span>
                </p>
                <p><span>До нас також можна звертатися за покупкою подарунків ручної роботи. У нас працюють майстри, які створюють авторські подарунки із оригінальним дизайном. Таких речей ви більше ніде не побачите.<br>&nbsp;<br></span>
                </p>
                <h3><span>Ексклюзивний новорічний декор</span></h3>
                <p><span>З приходом новорічних свят до нас регулярно надходять прохання про прикрасу приміщень та встановлення вуличних декорацій. Наші спеціалісти займаються новорічним декором для житлових приміщень, офісів чи зовнішньої частини будівель. У нас також можна замовити цікаві вуличні інсталяції, де ми задіємо:</span>
                </p>
                <ul>
                    <li><span>гірлянди;</span></li>
                    <li><span>ялинкові іграшки;</span></li>
                    <li><span>об'ємні фігури;</span></li>
                    <li><span>дощі;</span></li>
                    <li><span>конфетті;</span></li>
                    <li><span>штучний сніг;</span></li>
                    <li><span>інші матеріали.</span></li>
                </ul>
                <p><span>Якщо хочете незвичайно прикрасити офіс або підготувати до новорічної ночі домашній інтер'єр, звертайтеся до нас за професійними послугами.<br>&nbsp;<br></span>
                </p>
                <h2><span>Переваги Лілеї</span></h2>
                <p><span>До нас вигідно звертатися, тому що ми пропонуємо:</span></p>
                <ul>
                    <li><span>висока якість послуг;</span></li>
                    <li><span>реалізацію складних проектів;</span></li>
                    <li><span>доступну вартість на букети та оформлення декорацій;</span></li>
                    <li><span>оперативну доставку столицею;</span></li>
                    <li><span>можливість замовити букети авторської роботи;</span></li>
                    <li><span>працюємо без свят та вихідних.</span></li>
                </ul>
                <p><span>За допомогою нашої компанії, ви можете відправити квіти близькій людині, навіть не перебуваючи фізично в столиці чи Україні. Вам достатньо вибрати з каталогу бажаний букет та оформити доставку із зазначенням адреси та часу, коли потрібно вручити подарунок. Доставка букета в Києві буде виконана якнайкраще. Ми завжди раді постійним та новим клієнтам.</span>
                </p>
                <p><span>&nbsp;</span></p>
                <p>🕙<strong> Як довго виконується адресна доставка квітів?</strong></p>
                <p><span>Доставка квітів по Києву можлива протягом 1,5-2 годин після дзвінка до нашої компанії. Ви можете замовити доставку квітів кур'єром на зручний для вас час. Доставку можна замовити на власну адресу або адресу людини, якій ви хочете вручити букет квітів та зробити сюрприз.</span>
                </p>
                <p><span>🌹 <strong>Де купити найкращі букети квітів та подарунки?</strong></span></p>
                <p><span>Ви можете не сумніватися, що в нашому магазині на вас чекає великий вибір свіжих квітів та оригінальних подарунків. Ми створюємо авторські букети в різних стильових рішеннях зі свіжих та здорових рослин. У нас також продаються подарунки ручної роботи та оригінальні вироби, які відмінно підходять як подарунок на різні свята.</span>
                </p>
                <p><span>💐 <strong>Який букет замовити на день народження?</strong></span></p>
                <p><span>Вибір букета залежить від статі, віку та особистих уподобань людини. Різні букети купуються для підлітка та людини, яка святкує ювілей. У кожному випадку є певні критерії вибору. Якщо ви не знаєте, як правильно вибрати букет на день народження, зверніться до наших менеджерів, і вони підберуть для вас оптимальний варіант для конкретного випадку.</span>
                </p>
                <p><span>💲 <strong>Скільки коштує доставка квітів у Києві?</strong></span></p>
                <p><span>Доставка по Києву коштує 200 гривень. Якщо ви оформлюєте замовлення на суму понад 1400 гривень, наш магазин дарує безкоштовну доставку. У передмістя до 10 км від межі міста доставка коштує 500 гривень. Все, що йде понад 10 км, розраховується індивідуально по кілометражу.</span>
                </p>
                <p><span>👛 <strong>Як оплатити замовлення букетів онлайн?</strong></span></p>
                <p><span>Для оплати онлайн ви можете вибрати один із таких способів: банківська карта Visa або MasterCard. В даному випадку оплата провадиться через систему Portmone. Також ви можете здійснити оплату безготівковим розрахунком.</span>
                </p>
                <p><span>🚚 <strong>Чи можлива доставка квітів по Україні?</strong></span></p>
                <p><span>Наша компанія займається доставкою квітів по Києву та Харкову, а також їх областям.</span>
                </p>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        window.addEventListener('DOMContentLoaded', () => {
            let cart = localStorage.getItem('cart')
            if (cart) {
                cart = JSON.parse(cart)
                cart.products.forEach(x => {
                    document.getElementById(x.id).innerText = "видалити з кошика"
                })
            }
        })

        function handleClick(event, id, name, price, img) { 
            let cart = localStorage.getItem('cart')
            if (cart) {
                cart = JSON.parse(cart)
            }
            else {
                cart = {
                    moneyAmount: 0,
                    totalQuantity: 0,
                    deliveryCost: 0,
                    products: []
                }
            }
            const product = {
                id,
                name,
                price,
                img,
                qty: 1
            }
            const prodInCart = cart.products.find(x => x.id === product.id)
            if (prodInCart) {
                removeFromCart(cart, prodInCart)
                event.target.innerText = "в кошик"
            }
            else {
                addToCart(cart, product)
                event.target.innerText = "видалити з кошика"
            }
        }
        
    </script>
}
